@import "bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/font/NotoSansKR-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/font/NotoSansKR-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/font/NotoSansKR-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/NotoSansKR-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/font/NotoSansKR-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/font/NotoSansKR-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/NotoSansKR-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/font/NotoSansKR-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/font/NotoSansKR-Black.ttf") format("ttf");
}

@font-face {
  font-family: 'SF_IceLemon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// 글자
// -------------------------------------------------------
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
}

#logo {
font-family: SF_IceLemon;
font-size: 40px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
width: 72px;
height: 40px;
color: rgba(33, 150, 243, 1);

}

p {
  font-weight: 400;
}
// -------------------------------------------------------



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin: 0;
  padding: 0;
}

// 레이아웃
// -------------------------------------------------------
//Header -------------------------------------------------

.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  background-color: white;
  width :1200px;
  height: 96px;
  border: 0px, 0px, 1px, 0px;
  box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 50px 50px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 113px 68px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 202px 81px 0px rgba(0, 0, 0, 0.01); 
  box-shadow: 0px 315px 88px 0px rgba(0, 0, 0, 0);
  margin-bottom: 20px;

}


.logo{
width: 332px;
height: 96px;
padding: 28px, 130px, 28px, 130px;
gap: 10px;
display: flex;
align-items: center;
}


.top-navigation{
width: 276px;
height: 96px;
left: 398px;
gap: 30px;
display: flex;
background: rgba(255, 255, 255, 1);

}

.nav-item{
width: 72px;
height: 96px;
padding: 33px, 26px, 33px, 26px;
display: flex;
align-items: center;

}

.nav-item p{
font-family: Noto Sans KR;
font-size: 20px;
font-weight: 500;
letter-spacing: 0em;
text-align: center;


}
.search-bar{
display: flex;
align-items: center;
width: 330px;
height: 60px;
top: 16px;
left: 740px;
margin-top: 20px;
}
.search-bar input{
width: 248px;
height: 24px;
top: 18px;
font-family: Noto Sans KR;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
outline: none;
border: none;
}

.divider{
width: 330px;
top: 60px;
margin-left: 30%;
}


.search-icon{
width: 36px;
height: 36px;
top: 12px;
left: 294px;
padding: 4.5px;
margin-left: 35px;
}


//footer
// -------------------------------------------------------
.footer {

  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: black;
  width: 1200px;
  height: 316px;
  top: 1776px;
  padding: 20px, 0px, 20px, 0px;
  gap: 20px;

}

.frame14{
width: 100%;
height: 24px;
padding: 0px, 130px, 0px, 130px;
justify-content: space-between;
display: flex;
}

.copyright{
width: 196px;
height: 24px;
font-family: Noto Sans KR;
font-size: 16px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
margin-left: 100px;

}
.srccode-link{
width: 448px;
height: 24px;
font-family: Noto Sans KR;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
margin-left: 420px;
}

.divider2{
border: 1px;
border-bottom: 1px solid rgba(255, 255, 255, 1);
height:50px
}

.parts-and-references{
  width: 1200px;
height: 212px;
gap: 40px;
background: rgba(33, 33, 33, 1);


}
.parts{
  width:1,200px;
height:132px;
padding: 0px, 130px, 0px, 130px;
gap: 20px;
margin-top: 50px;
margin-left: 100px;
display: flex;
}

.part{
width:300px;
height:96px;
gap: 12px;

  }

.part-name{
font-family: Noto Sans KR;
font-size: 24px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
color: white;

}
.member-infos{
  width: 300px;
height: 48px;
padding: 12px;
border: 1px;
gap: 12px;
border: 1px solid rgba(255, 255, 255, 1);

}

.member-infos2{
  width: 300px;
  height: 84px;
  padding: 12px;
  border: 1px;
  gap: 12px;
  border: 1px solid rgba(255, 255, 255, 1);
}



.member-name{
width: 244px;
height: 24px;
font-family: Noto Sans KR;
font-size: 16px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: white;

}

.references{
width: 1200px;
height: 40px;
padding: 0px, 130px, 0px, 130px;
gap: 36px;
display: flex;
margin-left: 100px;
margin-top: 30px;
}

.logo-with-label{
width:174px;
height:40px;
gap: 12px;

}

.footer-logo{
  width: 40px;
height: 40px;
background: rgba(33, 33, 33, 1);

}
.Vector{
  width: 40px;
height: 40px;

}

.label{
  width: 122px;
height: 24px;
font-family: Noto Sans KR;
font-size: 16px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: white;
float: right;
margin-top: 10px;
}
//----------------------banner
.main-banner{
width: 1200px;
height: 320px;
top: 96px;
box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.main-banner-title span {
  color: white;
  width: 469px;
height: 106px;
top: 72px;
left: 130px;
border: 1px;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.main-banner-title span:nth-child(1) {
  position :absolute;
  left: 15%;
  top: 24%;
  color: white;
  font-size: 30px;
  font-family: TTTtangsbudaejjigaeB;
font-size: 32px;
font-weight: 300;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.main-banner-title span:nth-child(2) {
  position :absolute;
  left: 15%;
  top: 29%;
  color: white;
  font-size: 50px;
  font-family: TTTtangsbudaejjigaeB;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}




.detail-view-btn{
  width: 165px;
  height: 46px;
  color: white;
  text-align: center;
  background: black;
  padding: 8px, 16px, 8px, 16px;
border-radius: 30px;
gap: 12px;
  position :absolute;
  left: 15%;
  top: 40%;
  font-family: Noto Sans KR;
font-size: 20px;
font-weight: 500;
}





// 테마별 여행지 목록
// -------------------------------------------------------
div.spot-list {
  padding: 0 16px 56px 16px; 
  border-bottom: 1px solid gray;
}

h2.theme-name {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
// -------------------------------------------------------
// 카드 슬라이드
div.card-slide {
  overflow: auto;

  display: flex;
  align-items: flex-start;

}

div.card-slide ul {
  padding: 0;
}

div.card-slide ul li:nth-child(n) {
  margin-right: 12px;
}
// -------------------------------------------------------

// -------------------------------------------------------
// 카드
// -------------------------------------------------------
div.card {
  padding: 20px;
  border: 1px solid black;  
}

p {
  font-size: 30px;
}

p.name{
  font-weight: 700;
  font-size: 14px;
}

p.description {
  font-weight: 400;
  font-size: 10px;
}
// -------------------------------------------------------


//------
.spotlist-header > p
{
font-family: Noto Sans KR;
font-size: 24px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
width: 64px;
height: 36px;
color: white;
margin-top: 20px;
}

.spotlist-header{
  display: flex;
  align-items: center;
  background-color: #2196F3;
  padding: 10px;
  margin-left:150px;
  
  margin-top: 50px;
  text-align : center;
  font-size:18px;
  width: 940px;
  height: 60px;
  padding: 12px, 18px, 12px, 18px;
  
}




.btn-list{
  justify-content: space-between;
  display: flex;
  width :120px;

  
}

//--------------------

 .spotlist{
width: 1200px;
height: 2500px;
top: 456px;
padding: 0px, 38px, 80px, 38px;
flex-direction: column;
display: flex;
 }

 .slider{
  margin-left: 72px;
  margin-top: 20px;
  display: flex;
  margin-top:0px;
  
  }


.chungcheong{
width: 270px;
height: 400px;
margin-left: 73px;
display: block;
object-fit: fill;

}
.chungcheong img{
	display:block;
	width:100%;
	height:100%;
  position :relative;
  border-radius: 30px;
}
.chungcheong span{
  position :absolute;
  top: 1550px;
  margin-left: 200px;
  color: white;
  font-size: 23px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-stroke-width: 1px;
}

.capital-area{
  width: 270px;
  height: 400px;
  margin-left: 73px;
  display: block;
  object-fit: fill;
}

.capital-area img{
	display:block;
	width:100%;
	height:100%;
  position :relative;
  border-radius: 30px;
}

.capital-area span {
  position :absolute;
  top: 1050px;
  margin-left: 200px;
  color: white;
  font-size: 23px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-stroke-width: 1px;
}

.gyeongsang {
  width: 270px;
  height: 400px;
  margin-left: 73px;
  display: block;
  object-fit: fill; 
}

.gyeongsang img{
  display:block;
	width:100%;
	height:100%;
  position :relative;
  border-radius: 30px;
}

.gyeongsang span {
  position :absolute;
  top: 2050px;
  margin-left: 200px;
  color: white;
  font-size: 23px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-stroke-width: 1px;
}

.honam{
  width: 270px;
  height: 400px;
  margin-left: 73px;
  display: block;
  object-fit: fill; 
}

.honam img{
  display:block;
	width:100%;
	height:100%;
  position :relative;
  border-radius: 30px;
}

.honam span{
  position :absolute;
  top: 2550px;
  margin-left: 200px;
  color: white;
  font-size: 23px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-text-stroke-width: 1px;
}




// -------------------------------------------------------
// 로그인
// -------------------------------------------------------
#login {
  display: flex;
  flex-direction: column;
}
// -------------------------------------------------------
// 회원가입
// -------------------------------------------------------
#register {
  display: flex;
  flex-direction: column;
}


//--------------------------------------------------------
//지역목록
//--------------------------------------------------------
//지역목록
.area{
  width: 1200px;
  height: 500px;
  top: 456px;
  padding: 0px, 38px, 80px, 38px;
  gap: 40px;
  flex-direction: column;
  display: flex;
  }
  .area-list{
    margin-left: 150px;
    font-size: 10px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-stroke-width: 1px;
    margin-top: 50px;
  flex-direction: column;
  }
  .area-list p{
    font-size: 25px;
    color:gray;
    flex-direction: column;
  }
  .area-header{
    margin-top: 100px;
    font-size: 25px;
    letter-spacing: 0em;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    position: relative;
    }