#find-id {
    display: flex;
    flex-direction: column;
    margin: 0px 130px 60px 130px;
}

.input-div label{
    margin-bottom: 10px;
}

#id-info div {
    display: flex;
}

#id-info p{
    font-size: 16px;
}

#id-info div p:first-child {
    margin-right: 12px;
}

#find-id button {
    margin-top: 20px;
}