@import "bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("../assets/font/NotoSansKR-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/font/NotoSansKR-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/font/NotoSansKR-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/font/NotoSansKR-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/font/NotoSansKR-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/font/NotoSansKR-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/NotoSansKR-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/font/NotoSansKR-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/font/NotoSansKR-Black.ttf") format("ttf");
}

// 글자
// -------------------------------------------------------
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
}

h1 {
  font-weight: 700;
}

#logo {
  font-weight: 900;
}

p {
  font-weight: 400;
}
// -------------------------------------------------------



ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  margin: 0;
  padding: 0;
}

// 레이아웃
// -------------------------------------------------------
body {
  font-family: "Noto Sans KR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: sticky;

  padding: 16px 32px 16px 32px;
  border-bottom: 1px solid;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;
}

div.spot-list {
  width: 100%;
  overflow: auto; 
}

// -------------------------------------------------------


// 테마별 여행지 목록
// -------------------------------------------------------
div.spot-list {
  padding: 0 16px 56px 16px; 
  border-bottom: 1px solid gray;
}

h2.theme-name {
  font-size: 20px;
  margin: 20px 0 20px 0;
}
// -------------------------------------------------------
// 카드 슬라이드
div.card-slide {
  overflow: auto;

  display: flex;
  align-items: flex-start;
}

div.card-slide ul {
  padding: 0;
}

div.card-slide ul li:nth-child(n) {
  margin-right: 12px;
}
// -------------------------------------------------------

// -------------------------------------------------------
// 카드
// -------------------------------------------------------
div.card {
  padding: 20px;
  border: 1px solid black;  
}

p {
  font-size: 30px;
}

p.name{
  font-weight: 700;
  font-size: 14px;
}

p.description {
  font-weight: 400;
  font-size: 10px;
}
// -------------------------------------------------------

